{
    border: 1px solid greenyellow;
}
#register-form{
}
#register-box{
    text-align: center;
    width: 65vmin;
}
#register-form input{
    display: inline-block;
    margin: 2vmin;
}
input[type="text"], [type="password"]{
    width: 40vmin;
    height: 5vmin;
    font-size: larger;
}
input[type="submit"]{
    width: 28vmin;
    height: 5vmin;
    font-size: larger;
}
#input-text-box{
    display: inline-block;
    position: relative;
    width: 60vmin;
}
#captcha-box{
    text-align: center;
    position: relative;
    display: inline-block;
    width: 50vmin;
}
#captcha-box img{
    margin: 2vmin 2vmin 0;
}